h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 96px;
}

h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin: 0;
    color: #9F0908;
}

h3{
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin: 0;
}

p{
    margin: 0;
}
