$dark-red: #9F0908;

* {
    margin: 0;
}

.fontRaleway {
    font-family: 'Raleway';
}


@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../public/assets/font/Raleway-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 24px;
    margin: 0;
}

h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 96px;
}

h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin: 0;
    color: $dark-red;
}

h3{
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-size: 56px;
    margin: 0;
}

p{
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}