<section class="order">
    <div class="order-container">
        <h2>HOW TO ORDER</h2>
        <div class="how-to-order">
            <div class="order-step">
                <img src="assets/img/2_section_how_to_order/PNG/broth.png" alt="noodle image">
                <h3>Pick your <br> noodle</h3>
            </div>
            <div class="order-step">
                <img src="./assets/img/2_section_how_to_order/PNG/broth.png" alt="broth image">
                <h3>Pick your <br> broth</h3>
            </div>
            <div class="order-step">
                <img src="./assets/img/2_section_how_to_order/PNG/egg.png" alt="egg image">
                <h3>add your <br>toppings</h3>
            </div>
        </div>
    </div>
</section>
